@model OMSproject.DTO.Home
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/Home/Index.css" asp-append-version="true" />
<div class="summary-cards">
    <div class="card">
        <div class="card-icon">
            <svg width="46"
                 height="46"
                 fill="currentColor"
                 viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2h6Z"></path>
            </svg>
        </div>
        <div class="card-info">
            <h2>@Model.New</h2>
            <p>New Orders</p>
        </div>
    </div>
    <div class="card">
        <div class="card-icon">
            <svg width="46"
                 height="46"
                 fill="currentColor"
                 viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M11 2.048V4.06a8.001 8.001 0 1 0 5.906 14.258l1.423 1.423A9.966 9.966 0 0 1 12 21.998c-5.523 0-10-4.477-10-10 0-5.185 3.947-9.45 9-9.95Zm10.95 10.95a9.948 9.948 0 0 1-2.207 5.328l-1.423-1.422a7.962 7.962 0 0 0 1.618-3.906h2.013-.001Zm-8.948-10.95a10.004 10.004 0 0 1 8.95 8.95h-2.013a8.005 8.005 0 0 0-6.937-6.938V2.047Z"></path>
            </svg>
        </div>
        <div class="card-info">
            <h2>@Model.InProgress</h2>
            <p>Inprogress</p>
        </div>
    </div>
    <div class="card">
        <div class="card-icon">
            <svg width="46"
                 height="46"
                 fill="currentColor"
                 viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="m10 15.17 9.192-9.193 1.415 1.414L10 17.998l-6.364-6.364L5.05 10.22 10 15.17Z"></path>
            </svg>
        </div>
        <div class="card-info">
            <h2>@Model.Delivred</h2>
            <p>Delivered</p>
        </div>
    </div>
    <div class="card">
        <div class="card-icon">
            <svg width="46"
                 height="46"
                 fill="currentColor"
                 viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="m12 10.583 4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414L12 13.41l-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.633l4.95 4.95Z"></path>
            </svg>
        </div>
        <div class="card-info">
            <h2>@Model.Canceled</h2>
            <p>Canceled</p>
        </div>
    </div>
</div>
<div class="unkown-class">

    <div class="empty-box">
        <div style="margin: 5rem 8rem 0 ; font-size: 9rem; font-weight: 600; color: #ff6767; ">
            Coming SOON !

        </div>
    </div>
    <!-- Chart Hidden for A Reason -->
    <!-- <div class="chart-st">
      <div id="chart"></div>
    </div> -->
    <div class="side-btns">
        <div class="operation-btn">
            <div class="btn">
                <div class="btn-info">
                    <a href="../Order/Create">
                        @*<@a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Index">Products</a>*@
                        <h3 class="btn-new">Orders</h3>
                </div>
                <div class="btn-icon">
@*                    <svg width="46" height="46" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="m12.172 12-2.83-2.827 1.415-1.415L15 12l-4.243 4.243-1.414-1.415L12.172 12Z"></path>
                    </svg>*@
                    <svg width="53" height="53" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                        <path d="M24 0C10.7 0 0 10.7 0 24S10.7 48 24 48H76.1l60.3 316.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24-10.7 24-24s-10.7-24-24-24H179.9l-9.1-48h317c14.3 0 26.9-9.5 30.8-23.3l54-192C578.3 52.3 563 32 541.8 32H122l-2.4-12.5C117.4 8.2 107.5 0 96 0H24zM176 512c26.5 0 48-21.5 48-48s-21.5-48-48-48s-48 21.5-48 48s21.5 48 48 48zm336-48c0-26.5-21.5-48-48-48s-48 21.5-48 48s21.5 48 48 48s48-21.5 48-48zM252 160c0-11 9-20 20-20h44V96c0-11 9-20 20-20s20 9 20 20v44h44c11 0 20 9 20 20s-9 20-20 20H356v44c0 11-9 20-20 20s-20-9-20-20V180H272c-11 0-20-9-20-20z" /></svg>
                </div>
            </div>
        </div></a>
        <div class="operation-btn">
            <div class="btn">
                <div class="btn-info">
                    <a href="../Product/Create">
                        <h3 class="btn-new">Products</h3>
                </div>
                <div class="btn-icon">
                    <svg width="46" height="46" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="m12.172 12-2.83-2.827 1.415-1.415L15 12l-4.243 4.243-1.414-1.415L12.172 12Z"></path>
                    </svg>
                </div>
            </div>
        </div></a>
        <div class="operation-btn">
            <div class="btn">
                <div class="btn-info">
                    <a href="../Client/Create">
                        <h3 class="btn-new">Clients</h3>
                </div>
                <div class="btn-icon">
                    <svg width="46" height="46" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="m12.172 12-2.83-2.827 1.415-1.415L15 12l-4.243 4.243-1.414-1.415L12.172 12Z"></path>
                    </svg>
                </div>
            </div></a>
        </div>
                <div class="operation-btn">
            <div class="btn">
                <div class="btn-info">
                    <a href="../Client/Create">
                        <h3 class="btn-new">Clients</h3>
                </div>
                <div class="btn-icon">
                    <svg width="46" height="46" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="m12.172 12-2.83-2.827 1.415-1.415L15 12l-4.243 4.243-1.414-1.415L12.172 12Z"></path>
                    </svg>
                </div>
            </div></a>
        </div>
    </div>
</div>

