
@{
    ViewData["Title"] = "Update News";
}
<link rel="stylesheet" href="~/css/OrderStyle/order.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Table/TablesStyle.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Table/FormControl.css" asp-append-version="true" />
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

<style>
    .btn-Status {
        font-size: 1.5rem;
        margin: auto 0.2rem;
        padding: .2rem 1rem;
        background: hsl(var(--thd-bg)/ .2);
        color: var(--peachy-red);
        border: 1px solid var(--peachy-red);
        border-radius: .7rem;
        cursor: pointer;
    }

    .cus th {
        cursor: pointer;
    }
    p {
        font-size: 1rem;
    }
</style>

<form class="d-flex nav-search">
    <fieldset>

        <h1 class="headers">(OMS Updates White Paper)</h1>
        @*<div style="clear: both;"></div>*@
        <h2 class="headerss"> “Update Report version 1.002v” </h2>
        <p>
            Enhanced features :<br /><br />

            - UI Improvements.✅ <br />

            - Profits Table Advance Properties (Added Experimental not stable ). ➕<br />
            <ol style ="text-indent: 50px; font-size: 14px;">
                <li >
                    • Pagination
                </li>
                <li>
                    •  Advance Faster Search bar (letter By letter)
                </li>
                <li>
                    •  Print Table
                </li>
            </ol>
@*             <br />
            <br />
            <br />*@
@*            - Price row in the table in Orders Edit Page(Fixed).✅<br />

            - Colors Not selected Correctly in Orders (Details - Edit) Pages (Fixed).✅<br />

            - Client Name Shows as Numbers when Added not actual names (Fixed).✅<br />*@

        </p>
        <br />

        <h2 class="headerss"> “Update Report version 1.001v” </h2>
        <p>
            Enhanced features :<br /><br />

            - System Stability Improvements,Bug Fixes.✅ <br />

            - Price Not showing in the Orders Details (Fixed). ✅ <br />

            - Price row in the table in Orders Edit Page(Fixed).✅<br />

            - Colors Not selected Correctly in Orders (Details - Edit) Pages (Fixed).✅<br />

            - Client Name Shows as Numbers when Added not actual names (Fixed).✅<br />

        </p>
        <p>

            Edited :<br /><br />

            - Bug of Price Not Saved Correctly On Database (Edited).✅<br />

            

        </p>
        <p>
            New features :<br />

            - Sell Price Automatically Calculated (Added).➕<br />
            - Profits Calculator has been added (Added).➕<br />
            - Updates Section  (Added).➕<br />

            - Back Button (to improve the user experience to navigation on system more easily) (Added).➕<br />


        </p>

      
        




    </fieldset>
</form>
