.table {
    border-collapse: collapse;
    width: 100%;
    background: hsl(var(--txt) /.1);
    color: hsl(var(--txt));
    border-radius: 0.5rem;
    /*margin: 8rem auto 0;*/
}

    .table thead {
        height: 4em;
        font-size: 1.3rem;
    }

        .table thead tr {
            border-bottom: 1px dashed grey;
            height: 2em;
        }

            .table thead tr td {
                height: 3em;
                font-size: 1rem;
                letter-spacing: 1px;
                color: grey;
                padding: 0.5rem;
            }

    .table tbody tr {
        border-top: 2px dashed grey;
        text-align: center;
    }

        .table tbody tr td {
            height: 2.5em;
            font-size: 1rem;
            letter-spacing: 1px;
            padding: 0.8rem;
        }

    .table tfoot {
        height: 4em;
        /*font-size: 1.3rem;*/
    }

        .table tfoot tr {
            /*border-bottom: 1px dashed grey;*/
            height: 2em;
            text-align: center;
            /*font-size: 1.2rem;*/
        }

            .table tfoot tr td {
                height: 3em;
                font-size: 1.3rem;
                letter-spacing: 1px;
                color: hsl(var(--txt));
                padding: 0.5rem;
            }