@model OMSproject.Models.Client

@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="~/css/OrderStyle/order.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Table/TablesStyle.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Table/FormControl.css" asp-append-version="true" />
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
@*<style>

    form {
        padding: 2em;
        border-radius: 10px;
        border: 2px solid rgb(242, 242, 242);
        width: 100%;
        color: hsl(var(--txt));
        font-size: 1.3rem;
        font-weight: 500;
    }

    fieldset {
        padding: 0em;
        border-radius: 0px;
        width: 100%;
        border: 0px;
        color: hsl(var(--txt));
        font-size: 1.3rem;
        font-weight: 500;
    }

</style>*@
<form asp-action="Create" asp-controller="Client">
    <fieldset>
        <div asp-validation-summary="ModelOnly" class="warning"></div>
        <h1 class="head-title"> Add New Clients</h1>
        <div>
            <div class="triple-input">
                <div class="form-input-container">
                    <label asp-for="Phone" class="control-label lbl-padding">Phone Number</label>
                    <input asp-for="Phone" class="form-control" placeholder="09X XXXXXXX"/>
                    <span asp-validation-for="Phone" class="warning"></span>
                </div>
                <div class="form-input-container">
                    <label asp-for="ClientName" class="control-label lbl-padding">Client Name</label>
                    <input asp-for="ClientName" class="form-control" style="padding: 6px" placeholder="Name"/>
                    <span asp-validation-for="ClientName" class="warning">@ViewBag.message</span>
                </div>
                <div class="form-input-container">
                    <label asp-for="Claasification" class="control-label lbl-padding">Rate</label>
                    <select asp-for="Claasification" class="form-control"
                            asp-items="@(new SelectList(Model.ClaasificationList))"></select>
                    <span asp-validation-for="Claasification" class="warning"></span>
                </div>
            </div>
            <div class="form-input-container" style="margin: 0;padding: 0;">
                <button type="submit" title="Add New Client" value="Add Client" style="width: 3%;margin: 2.5rem 0 0 0rem;padding: .5rem 1.4rem;float: right;" class="form-btn save">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" style="width: 30px;margin: 0 0 0px -15px;">
                        <path fill="hsl(var(--txt))" d="M352 128c0 70.7-57.3 128-128 128s-128-57.3-128-128S153.3 0 224 0s128 57.3 128 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM504 312V248H440c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V136c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H552v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z" />
                    </svg>
                </button>

            </div>
        </div>
    </fieldset>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


    }

    