:root {
    --clr-vip-light: #084298;
    --clr-vip-dark: #0d6efd;
    --clr-blacklist-light: #842029;
    --clr-blacklist-dark: #dc3545;
    --clr-new-light: #0f5132;
    --clr-new-dark: #198754;
    --clr-vip: var(--clr-vip-light);
    --clr-blacklist: var(--clr-blacklist-light);
    --clr-new: var(--clr-new-light);
}

.Vip {
    font-size: 1rem;
    color: hsl(var(--sec-bg));
    background: var(--clr-vip);
    border-radius: 3px;
    border: 2px solid #084298;
}

.New {
    color: hsl(var(--sec-bg));
    background: var(--clr-new);
    border-radius: 3px;
    border: 2px solid #055160;
}

.BlackList {
    color: hsl(var(--sec-bg));
    background: var(--clr-blacklist);
    border-radius: 3px;
    border: 2px solid #842029;
}

.th-padding {
    padding: 1rem;
}

body.dark-theme {
    --clr-vip: var(--clr-vip-dark);
    --clr-blacklist: var(--clr-blacklist-dark);
    --clr-new: var(--clr-new-dark);
}
