<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - OMSproject</title>

    <link rel="stylesheet" href="~/styles/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    @*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">*@
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

    @*----------------------Datatables----------------------------*@
    <link rel="stylesheet" href="~/pluginus/DataTables/css/dataTables.bootstrap5.min.css" asp-append-version="true">
    @*<link rel="stylesheet" href="~/pluginus/Responsive/css/responsive.bootstrap5.min.css" asp-append-version="true">*@
    @*<link rel="stylesheet" href="~/pluginus/Buttons/css/buttons.bootstrap5.css" asp-append-version="true">*@
    @*<link rel="stylesheet" href="~/pluginus/DateTime/css/dataTables.dateTime.min.css" asp-append-version="true">*@
    @*----------------------STYLES----------------------------*@
    <link rel="stylesheet" href="~/styles/css/app.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/styles/css/btns.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/styles/css/rooter.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/styles/css/cards.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/styles/css/shadow.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/styles/css/controls.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/styles/css/svgs.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/styles/css/bootstrap.fixer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/styles/css/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="~/styles/css/tables.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/styles/css/fonts.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/styles/plugins/datatables.bundle.css" asp-append-version="true" />

</head>
<body>
    <main>
        <nav class="sidebar close">
            <header>
                <div class="image-text">

                    <div class="logo-content">
                        <div class="logo">
                            <div class="logoo ">OMS</div>
                            <div class="logo-name text">uniPro</div>
                        </div>
                    </div>
                </div>

                <i class="bx bx-chevron-right toggle"></i>
            </header>

            <div class="menu-bar">
                <div class="menu">

                    <li class="search-box">
                        <i class="bx bx-search icon"></i>
                        <input type="text" placeholder="Search...">
                    </li>

                    <ul class="menu-links">
                        <li class="nav-link">
                            <a asp-controller="Home" asp-action="Index">
                                <i class="bx bx-home-alt icon"></i>
                                <span class="text nav-text">Dashboard</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a asp-controller="Order" asp-action="Index">
                                <i class="bx bxs-notepad icon"></i>

                                <span class="text nav-text">Orders</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a asp-controller="Product" asp-action="Index">
                                <i class="bx bxs-box icon"></i>

                                <span class="text nav-text">Products</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a asp-controller="Client" asp-action="Index">
                                <i class="bx bxs-user icon"></i>

                                <span class="text nav-text">Clients</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a asp-controller="Order" asp-action="ProfitCalculate">
                                <i class="bx bx-wallet icon"></i>
                                <span class="text nav-text">Profits</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a asp-controller="Home" asp-action="News">
                                <i class="bx bxs-news icon"></i>
                                <span class="text nav-text">News</span>
                            </a>
                        </li>

                    </ul>
                </div>

@*                <div class="bottom-content">
                    <li class="">
                        <a href="#">
                            <i class="bx bx-log-out icon"></i>
                            <span class="text nav-text">Logout</span>
                        </a>
                    </li>

                    <li class="mode">
                        <div class="sun-moon">
                            <i class="bx bx-moon icon moon"></i>
                            <i class="bx bx-sun icon sun"></i>
                        </div>
                        <span class="mode-text text">Dark mode</span>

                        <div class="toggle-switch">
                            <span class="switch"></span>
                        </div>
                    </li>

                </div>*@
                <partial name="_LoginPartial" />
            </div>
            
        </nav>

        @*        <div class="container">
        <div class="header">
        <div class="header-container">
        <div class="welcome-msg">
        </div>
        <div class="box-container">
        <div class="switch">
        <li>
        <a href="#">
        <i class='toggler bx bx-moon change-theme' id="theme-button"></i>
        </a>
        </li>

        </div>
        </div>
        </div>
        <div class="content-main">
        @RenderBody()
        </div>
        </div>*@
        <section class="home ">
            @RenderBody()
        </section>
    </main>


    @*    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/translation/app.js" asp-append-version="true"></script>
    <script src="~/js/toggler.js"></script>
    <script src="~/js/sorter.js"></script>
    <script src="~/js/currencyToggler.js"></script>*@
    @*<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>*@
    <script src="~/styles/bootstrap/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="~/styles/js/app.js"></script>
    <script src="~/styles/plugins/datatables.bundle.js"></script>


    <!-- DataTables  & Plugins -->
    <script src="~/pluginus/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/pluginus/datatables/js/dataTables.bootstrap5.min.js"></script>

    <script src="~/pluginus/responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/pluginus/DataTables/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/pluginus/responsive/js/responsive.bootstrap5.min.js"></script>

    <script src="~/pluginus/buttons/js/dataTables.buttons.js"></script>
    <script src="~/pluginus/buttons/js/buttons.bootstrap5.min.js"></script>
    <script src="~/pluginus/jszip/jszip.min.js"></script>
    <script src="~/pluginus/pdfmake/pdfmake.min.js"></script>
    <script src="~/pluginus/pdfmake/vfs_fonts.js"></script>
    <script src="~/pluginus/buttons/js/buttons.html5.min.js"></script>
    <script src="~/pluginus/buttons/js/buttons.print.min.js"></script>
    <script src="~/pluginus/buttons/js/buttons.colVis.min.js"></script>
    <script src="~/pluginus/JavaScript.js"></script>
    @*<script src="~/js/profit/multiRow.js"></script>*@

    <script src="~/pluginus/Moment/moment.min.js"></script>
    <script src="~/pluginus/Select/js/dataTables.select.min.js"></script>
    <script src="~/pluginus/DateTime/js/dataTables.dateTime.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
