<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OMSproject</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Style.css" asp-append-version="true" />
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/OMSproject.styles.css" asp-append-version="true" />
</head>
<body>
    <main>
        <div class="side-menu">
            <nav class="navbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M2,10l8.75-7a2,2,0,0,1,2.5,0L22,10"></path>
                                <path d="M4,8.5V20a2,2,0,0,0,2,2H18a2,2,0,0,0,2-2V8.5" stroke-linecap="round"></path>
                                </svg>
                            <span class="nav-span">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Order" asp-action="Index">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M3,4V20a2,2,0,0,0,2,2H19a2,2,0,0,0,2-2V9.83a2,2,0,0,0-.59-1.42L14.59,2.59A2,2,0,0,0,13.17,2H5A2,2,0,0,0,3,4Z"></path>
                                <path d="M20.6,9H16a2,2,0,0,1-2-2V2.4" stroke-linecap="round"></path><line x1="16" y1="13" x2="8" y2="13"></line>
                            <line x1="10" y1="9" x2="8" y2="9"></line><line x1="16" y1="17" x2="8" y2="17"></line></svg>
                            <span class="nav-span">Orders</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Product" asp-action="Index">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                                <rect x="2" y="3" width="20" height="4" rx="2"></rect>
                                <path d="M4,7H20a0,0,0,0,1,0,0V19a2,2,0,0,1-2,2H6a2,2,0,0,1-2-2V7A0,0,0,0,1,4,7Z">
                            </path><line x1="8" y1="11" x2="16" y2="11"></line></svg>
                            <span class="nav-span">Products</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Client" asp-action="Index">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                                <circle cx="12" cy="6" r="4"></circle>
                                <path d="M17.67,22a2,2,0,0,0,1.92-2.56A7.8,7.8,0,0,0,12,14a7.8,7.8,0,0,0-7.59,5.44A2,2,0,0,0,6.34,22Z"></path>
                            </svg>
                            <span class="nav-span">Clients</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="container">
            <div class="header">
                <div class="header-container">
                    <div class="welcome-msg">
                    </div>
                    <div class="box-container">
                        <div class="switch">
                            <li>
                                <a href="#">
                                    <i class='toggler bx bx-moon change-theme' id="theme-button"></i>
                                </a>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-main">
                @RenderBody()
            </div>
        </div>
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/toggler.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
