<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8" />
    <title>@ViewData["Title"] - OMSproject</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Style.css" asp-append-version="true" />
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/OMSproject.styles.css" asp-append-version="true" />
</head>
<body>
    <main>
        <div class="side-menu">
          
            <nav class="navbar">
                @*<i class='bx bxs-dashboard'></i>*@
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M2,10l8.75-7a2,2,0,0,1,2.5,0L22,10"></path>
                                <path d="M4,8.5V20a2,2,0,0,0,2,2H18a2,2,0,0,0,2-2V8.5" stroke-linecap="round"></path>
                                </svg>
                            <span class="nav-span">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Order" asp-action="Index">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M3,4V20a2,2,0,0,0,2,2H19a2,2,0,0,0,2-2V9.83a2,2,0,0,0-.59-1.42L14.59,2.59A2,2,0,0,0,13.17,2H5A2,2,0,0,0,3,4Z"></path>
                                <path d="M20.6,9H16a2,2,0,0,1-2-2V2.4" stroke-linecap="round"></path><line x1="16" y1="13" x2="8" y2="13"></line>
                            <line x1="10" y1="9" x2="8" y2="9"></line><line x1="16" y1="17" x2="8" y2="17"></line></svg>
                            <span class="nav-span">Orders</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Product" asp-action="Index">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                                <rect x="2" y="3" width="20" height="4" rx="2"></rect>
                                <path d="M4,7H20a0,0,0,0,1,0,0V19a2,2,0,0,1-2,2H6a2,2,0,0,1-2-2V7A0,0,0,0,1,4,7Z">
                            </path><line x1="8" y1="11" x2="16" y2="11"></line></svg>
                            <span class="nav-span">Products</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Client" asp-action="Index">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                                <circle cx="12" cy="6" r="4"></circle>
                                <path d="M17.67,22a2,2,0,0,0,1.92-2.56A7.8,7.8,0,0,0,12,14a7.8,7.8,0,0,0-7.59,5.44A2,2,0,0,0,6.34,22Z"></path>
                            </svg>
                            <span class="nav-span">Clients</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Order" asp-action="ProfitCalculate">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill:hsl(var(--txt));stroke:none;">
                                <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8 8 0 0 1-8 8z"></path>
                                <path d="M12 11c-2 0-2-.63-2-1s.7-1 2-1 1.39.64 1.4 1h2A3 3 0 0 0 13 7.12V6h-2v1.09C9 7.42 8 8.71 8 10c0 1.12.52 3 4 3 2 0 2 .68 2 1s-.62 1-2 1c-1.84 0-2-.86-2-1H8c0 .92.66 2.55 3 2.92V18h2v-1.08c2-.34 3-1.63 3-2.92 0-1.12-.52-3-4-3z"></path></svg>
@*                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                                <circle cx="12" cy="6" r="4"></circle>
                                <path d="M17.67,22a2,2,0,0,0,1.92-2.56A7.8,7.8,0,0,0,12,14a7.8,7.8,0,0,0-7.59,5.44A2,2,0,0,0,6.34,22Z"></path>
                            </svg>*@
                            <span class="nav-span">Profits</span>
                        </a>
                    </li>
                                        <li class="nav-item">
                        <a asp-controller="Home" asp-action="News">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill:hsl(var(--txt));stroke:none;">
                                <path d="M19.875 3H4.125C2.953 3 2 3.897 2 5v14c0 1.103.953 2 2.125 2h15.75C21.047 21 22 20.103 22 19V5c0-1.103-.953-2-2.125-2zm0 16H4.125c-.057 0-.096-.016-.113-.016-.007 0-.011.002-.012.008L3.988 5.046c.007-.01.052-.046.137-.046h15.75c.079.001.122.028.125.008l.012 13.946c-.007.01-.052.046-.137.046z"></path>
                                <path d="M6 7h6v6H6zm7 8H6v2h12v-2h-4zm1-4h4v2h-4zm0-4h4v2h-4z"></path></svg>

                            <span class="nav-span">News</span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
        <div class="container">
            <div class="header">
                <div class="header-container">
                    <div class="welcome-msg">
                    </div>
                    <div class="box-container">
                        <div class="switch">
                            <li>
                                <a href="#">
                                    <i class='toggler bx bx-moon change-theme' id="theme-button"></i>
                                </a>
                            </li>
@*                            <li>
                                <a href="#">
                                    <i class='toggler bx bx-moon change-theme'></i>
                                </a>
                            </li>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-main">
                @RenderBody()
            </div>
        </div>
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/toggler.js"></script>
    <script src="~/js/sorter.js"></script>
    <script src="~/js/currencyToggler.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
